.contato-bg {
    height: auto;
    width: 100%;
    background: #fff;
    font-family: var(--fonte-primary);
    max-width: 1200px;
    margin: 0 auto;
}

.label-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

input {
    height: 30px;
    border-radius: 4px;
    border: 2px solid var(--main-color);;
    padding: 15px;
}

textarea {
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 15px;
    border: 2px solid var(--main-color);;
    border-radius: 4px;
    width: 555px;
}

.contato-bg p {
    text-align: center;
    margin-bottom: 2rem;
    padding-left: 5%;
    padding-right: 5%;
}

.form-box {
    display: flex;
    justify-content: center;
}

.cep-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.cep-cidade {
    border: 2px solid var(--main-color);;
    border-radius: 4px;
    padding: 5px;
}

.btn-contato {
    color: #111;
    background: gainsboro;
    padding: 5px;
    text-decoration: none;
    border: 2px solid gainsboro;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    width: 160px;
    margin: 0 auto;
    margin-bottom: 1rem;
    cursor: pointer;
}

.btn-contato:hover {
    transition: 0.5s;
    color: var(--main-color);
}

@media (max-width: 650px) {
    .cep-box {
        flex-direction: column;
        gap: 7px;
    }
    input {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    textarea {
        display: block;
        
        width: 250px;
    }
}
