.navbar-bg {
    height: 8vh;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 25px;
    justify-content: center;
}

.navbar-menu a {
    font-family: var(--fonte-primary);
    text-decoration: none;
    color: #111;
}

.navbar-menu a:hover {
    transition: 0.3s;
    color: slateblue;
}

@media (max-width: 450px) {
    .navbar-bg {
        height: 8vh;
    }
}