.ofertas-bg {
    background: #fff;
    height: auto;
    width: 100%;
}

.ofertas-bg h3 {
    text-align: center;
    font-family: var(--fonte-primary);
    font-size: 1.8rem;
    text-transform: uppercase;
}

.ofertas-box {
    display: flex;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}
.oferta-viagem {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 150px;
    width: auto;
    font-family: var(--fonte-primary);
    border: 2px solid slateblue;
    border-radius: 6px;
}

.icon {
    margin-right: 5px;
}

.btn-ofertas {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    color: #111;
    background: gainsboro;
    padding: 5px;
    text-decoration: none;
    border: 2px solid gainsboro;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    width: 160px;
}

.btn-ofertas:hover {
    transition: 0.5s;
    color: slateblue;
}

@media (max-width: 900px) {
    .ofertas-box {
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media (max-width: 370px) {
    .oferta-viagem {
        width: 280px;
    }
}